[submodule "external/rl-starter-files"]
	path = external/rl-starter-files
	url = https://github.com/lcswillems/rl-starter-files
[submodule "external/pytorch-a2c-ppo-acktr-gail"]
	path = external/pytorch-a2c-ppo-acktr-gail
	url = https://github.com/ikostrikov/pytorch-a2c-ppo-acktr-gail
[submodule "external/idaac"]
	path = external/idaac
	url = https://github.com/rraileanu/idaac
[submodule "external/impact-driven-exploration"]
	path = external/impact-driven-exploration
	url = https://github.com/facebookresearch/impact-driven-exploration
[submodule "external/RE3"]
	path = external/RE3
	url = https://github.com/younggyoseo/RE3
